.dashboard-layout {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #ededed;
    font-family: monospace;
}

.day-int {
    font-size: 22px;
    font-family: monospace;
}

.day {
    font-size: 14px;
    font-weight: 400 !important;
}

.progressbar {
    width: 32%;
}

.free {
    background: rgb(28, 126, 208);
    color: white;
    font-size: 13px;
    padding: 3px;
    font-weight: 400 !important;
    border-radius: 5px;
}

ul li {
    margin-bottom: 0px !important;
}