.card {
  background-clip: none !important;
  margin-bottom: 5px !important;
  border: none !important;
  border-radius: 15px !important;
}

.card-header {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: none !important;
  border-bottom: none !important;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.08);
}
.card-header svg {
  cursor: pointer;
}

.btn-link {
  color: black;
}

.btn-link:hover {
  color: rgba(0, 0, 0, 0.514);
  text-decoration: underline;
  background-color: transparent;
  text-decoration: none;
  border-color: transparent;
}

.box {
  box-shadow: 8px -4px 26px rgba(0, 0, 0, 0.2);
  padding: 50px;
}

.box p {
  font-size: 10px;
}
.man {
  height: 60px;
}
