.footer {
    background:#EFF3FB !important;
    padding: 20px;
}

ul li {
    list-style: none;
    margin-bottom: 20px;
    color: #000;
    font-weight: 400 !important;
}

.email-contact {
    width: 40%;
    height: 25%;
    border-radius: 6px;
    border: none;
}

li a {
    color: #000;
    font-weight: 400 !important;
    font-size: 15px !important;
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    color: #108acc;
}