.footer {
    background: #f8f9fa !important;
    padding: 20px;
}

ul li {
    list-style: none;
    margin-bottom: 20px;
    color: #000;
}

.email-contact {
    width: 60%;
    height: 25%;
    border-radius: 6px;
    border: none;
}

li a {
    color: #000;
}

li a:hover {
    text-decoration: none;
    color: #000;
}