#how-it-work {
    background: ghostwhite;
}

h5 {
    font-weight: bold;
    font-size: 32px;
}

p {
    font-weight: normal;
}

.whatisACos {
    height: 260px;
}


/* Custom CSS for the list */

.custom-list {
    list-style-type: none;
    padding-left: 0;
}

.custom-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px !important;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 60px;
    margin-right: 10px;
    border: 10px solid gainsboro;
}

.circle1 {
    background-color: #108ACC !important;
}

.circle2 {
    background-color: #343a40 !important;
}

.circle3 {
    background-color: #e67e22 !important;
}

.content {
    background-color: #f8f9fa;
    padding: 15px;
    flex: 1 1;
    border-radius: 5px;
    box-shadow: 0 2px 32px rgba(0, 0, 0, 0.1);
}

.content-main {
    display: flex;
    justify-content: start;
    align-items: center;
}

.content-icon {
    height: 100px;
    width: 45px;
    text-align: center;
    line-height: 104px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*padding: 12px 0;*/
}

.content-icon1 {
    background: #108ACC;
}

.content-icon2 {
    background: #343a40;
}

.content-icon2 img,
.upload-icon {
    transform: rotate(540deg) !important;
}

.content-icon3 {
    background: #e67e22;
}

.content-icon i {
    font-size: 50px;
}

.text-1 {
    color: #108ACC;
}

.text-2 {
    color: #343a40;
}

.text-3 {
    color: #e67e22;
}

.testimonial-person {
    display: flex;
    align-items: center;
}

.testimonial-person-name-des {
    margin-left: 20px;
}