.home{
    margin-bottom: 100px;
    /* padding-bottom: 100px; */
}
.how-work{
    padding-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 100px;
}
.faq{
    margin-bottom: 100px;
    /* padding-bottom: 100px; */
}
.pricing{
    padding-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 100px;
}