#pricing {
    background: #F8FAFF;
}

.no-credit {
    font-size: 15px;
    font-weight: 400px;
}

.card {
    width: 100%;
}

hr {
    width: 36%;
    margin-left: 32% !important;
}

.target {
    font-size: 13px;
    color: gray;
}

.subscribtion-item {
    padding: 15px;
    background-color: #EFF3FB;
}

.subscribtion-item li {
    font-size: 18px;
    margin-bottom: 10px;
    list-style: none;
    padding-bottom: 10px;
    font-weight: 700;
}

.bit-optimizer-text {
    font-weight: 400;
    list-style: none;
    font-size: 18px;
}

.subscription-plan-area {
    width: 100%;
    /* margin-left: 50px; */
    padding: 4px;
    background: white;
}

.icon {
    color: #108acc !important;
    margin-right: 5px;
}

.NoBsPricing {
    height: 100px;
}

.pricing {
    width: 45%;
}

@media screen and (max-width: 768px) {
    .pricing {
        width: 100%;
    }
}