.signup{
    background-color: ghostwhite;
    height: 100% !important;
    padding-bottom: 500px !important;
}
.icon-signup {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

.google-icon {
    height: 40px;
    float: left;
}

.sign-up-btn {
    font-size: 30px;
}

.login-title {
    font-size: 23px;
    font-weight: 300!important;
}

button {
    width: 32%;
}

.login-bottom-title,
a {
    font-size: 20px;
    font-weight: 300!important;
}
