h1 {
  font-weight: bold;
}

.btn-primary {
  background-color: #108acc;
}

.yesterday {
  border: 0.25px dotted #108acc;
  border-radius: 25px;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 85%;
  background: #F1F6FE;
}
